body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    
}
.border-container {
    height: 750px;
    width: 1700px;

}
.title{
    
}
.footerFirms{
    font-size: large;
}